[Desktop Entry]
Type=Application
Version=1.0
Name=Fastsonic
GenericName=Music Player
Comment=A native client for self-hosted music servers
Exec=fastsonic
Terminal=false
Categories=AudioVideo;Audio;Player;Music;
Keywords=subsonic;music;player;streaming;self-hosted;
Icon=fastsonic
StartupNotify=true
StartupWMClass=fastsonic
