[Desktop Entry]
Type=Application
Version=1.0
Name=Fastsonic
GenericName=Music Player
Comment=A native Spotify client
Exec=fastsonic
Terminal=false
Categories=AudioVideo;Audio;Player;Music;
Keywords=spotify;music;player;streaming;
Icon=fastsonic
StartupNotify=true
StartupWMClass=fastsonic
MimeType=x-scheme-handler/spotify;
