[Desktop Entry]
Type=Application
Version=1.0
Name=Fastpotify
GenericName=Music Player
Comment=A native Spotify client
Exec=fastpotify
Terminal=false
Categories=AudioVideo;Audio;Player;Music;
Keywords=spotify;music;player;streaming;
Icon=fastpotify
StartupNotify=true
StartupWMClass=fastpotify
MimeType=x-scheme-handler/spotify;
